@model Initiativlistan.Models.Priolista

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Priolista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.akut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.akut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.beroende)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.beroende)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.beskrivAkut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.beskrivAkut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.beskrivning)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.beskrivning)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.beställare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.beställare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.finnsIPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.finnsIPlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.framtidaPåverkan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.framtidaPåverkan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.förvaltning)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.förvaltning)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kategorisering)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kategorisering)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kostnader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kostnader)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.namnPåAktvivitet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.namnPåAktvivitet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nuvarandePåverkan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nuvarandePåverkan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tidasram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tidasram)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.typAvFörändring)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.typAvFörändring)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.verksamhetspåverkarn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.verksamhetspåverkarn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ärendeägare)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ärendeägare)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.önskatDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.önskatDatum)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
